/* Default Light Theme */
body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #F6F6EE;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	background-color: #dce3d3;
	text-align: center;
	padding: 100px 20px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 15px 30px;
  	font-size: 1rem;
  	background-color: #697855;
  	color: white;
  	border: none;
  	border-radius: 5px;
 	cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.flex-card {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #dce3d3;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.flex-card p {
  text-align: justify;
  font-size: 18px;
}

.flex-card h3 {
  font-family: FarmFresh;
  font-size: 24px;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
