/* Default Light Theme */
body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #F6F6EE;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	background-color: #dce3d3;
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	background-color: #697855; 
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
