body {
   font-family: Arial, sans-serif;
   background-color: #F6F6EE;
   color: #333;
   margin: 0;
}

.hero {
   display: flex;
   align-items: center;
   padding: 40px;
   background: #dce3d3;
}

.pfp-container {
   width: 30%;
}

#profile-img {
   width: 100%;
   border-radius: 20px;
}

.info-container {
   width: 70%;
   padding-left: 40px;
}

button {
   margin-top: 20px;
   padding: 12px 25px;
   background-color: #697855;
   color: white;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

.section-title {
   text-align: center;
   margin-top: 50px;
}

.card-grid {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding: 20px 40px;
}

.card {
   width: 30%;
   background: #dce3d3;
   padding: 40px 20px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
   background-size: cover;
   background-position: center;
}

.card:hover {
   color: transparent;
}

.ach1:hover { background-image: url("B1TJam.png"); }
.ach2:hover { background-image: url("BoyScout.png"); }
.ach3:hover { background-image: url("Valedictorian.png"); }

.proj1:hover { background-image: url("Werewolf.png"); }
.proj2:hover { background-image: url("MotherGame.png"); }
.proj3:hover { background-image: url("Beanstalk.png"); }

.card-grid a {
   text-decoration: none;
   color: inherit;
}
